.App {
  margin: 0 0;
}
body{
  background: linear-gradient(90deg,black,grey);

}

.recipe{
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* flex-wrap: wrap; */
  margin-top: 4rem;
  margin-left: 3rem;
  grid-column-gap: 2rem;
}

